@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{

     margin: 0;
     padding: 0;
     box-sizing: border-box;
    font-family: "Bai Jamjuree", serif;

}

body{

     font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;

     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-content: center;
     /* padding-top: 1rem; */
}

a{
    text-decoration: none;
    color: black;
}

main{
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    background-color: #f1f1f1;
    display: grid;
    grid-template-rows:auto  1fr;

}

.page-name{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;

}
.main-section{
display: grid;
grid-template-rows:auto auto ;
gap: 2rem;

}


.verse-box{
    width: 60%;
    margin: auto;
    text-align: center;
}

.verse-box h3{
    font-size: 1.5rem;
}

.verse-box p{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1rem;
    font-weight: 400;
}

.control-box{
    
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 5%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.control-icon{
    font-size: 2rem;
    background-color: #ddd9d9;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-box p{
    text-align: center;
    font-weight: 600;
}

.media-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    background-color: black;
    color: white;
    padding: .7rem 1.2rem;
    border-radius: 20px;
    font-weight: 600;
    gap: 0.5rem;
}

.control-box i{
    font-size: 1.2rem;
}

.stop-btn{
    background-color: rgba(255, 0, 0, 0.493);
    color: rgb(226, 23, 23);
    border: none;
}






@media (max-width: 768px) {
  
    main{
        padding: 0rem;
    }

    .verse-box p{
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .verse-box{
        width: 70%;
     
    }

    .control-box{
       
        width: 70%;
    }

  }
  
  @media (max-width: 480px) {
    .verse-box{
        width: 90%;
        margin-top: 5rem;
     
    }

    
.page-name,.verse-box h3{
    font-size: 1.2rem;
}

    body{
        padding-top: 0.3rem;
    }

    .verse-box p{
        font-size: 1.2rem;
        margin-top: .2rem;
    }

    .control-box{
        width: 100%;
        padding: 1rem;
    }

    .control-box i{
        font-size: 1rem;
        font-weight: normal;
    }

    .control-icon{
        height: 2.5rem;
        width: 2.5rem;
  }

}